<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NguyenHongQuan.qlns">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLNhanSu">
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityNhanvienmain"></activity>
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityThongtinnv" />
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityThemnhanvien" />
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityNhanvienbp" />
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivitySuabophan" />
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityThembophan" />
        <activity android:name="com.NguyenHongQuan.qlns.activity.Nguyenhongquan_ActivityBophan" />
        <activity android:name="com.NguyenHongQuan.qlns.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>